* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', 'Sans Serif';
    background-color: #E8E9EB;
}
header {
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0 20px;
    margin-top: 1.8rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;;
    font-size: 4.5rem;
    /* color: rgb(137, 16, 16);  */
    color: #D2691E;
    flex-wrap: wrap;
}

#changeBtn {
 background-color: white;
 width: 7rem;
 height: 3rem;
 position: absolute;
 top: 1rem;
 right: 16px;
 font-size: 18px;
 border-radius: 0.5rem;

}

.contentContainer {
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.questionContainer {
    min-height: 20rem;
    width: 35%;
    /* background-color: rgb(90, 159, 184); */
    border: 1.5px solid #313638; 
    background-color: #cdb8a2;
    
    border-radius: 10px;
    /* box-shadow: 20px 20px 50px rgb(9, 55, 72); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    display: flex;
    width: 90%;
    max-width:29rem ;
    height:auto;
    background-color: #e0dfd5;
    border-radius: 7px;
    margin: 1rem auto;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-weight: 600;
}

em {
    font-size: 0.9rem;
}

.answerContainer {
    height: min-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    width: 100%;
    padding: 2px;
    margin: 2px;
}

.buttonContainer {
    height: 9rem;
}
#submitBtn, #resetBtn{
    width: 7rem;
    height: 3rem;
}

#submitBtn {
    background-color: #313638;
    color: white;
}

#resetBtn {
    display: none;
    background-color: rgb(160, 43, 43);
    color: white;
}

h3 {
    height: 3rem;
}

.dark{
    background-color: #222;
    color: #e6e6e6;
}

.dark #changeBtn {
    color: #e6e6e6;
    background-color: #222 ;
    border-color: white;
}

.dark .questionContainer {
    /* border: 2px solid #bfbebe; */
    border: 2px solid #bf611e;
    background-color: #222
}

.dark .textContainer  {
    background-color: #222;
    border: 2px solid #bfbebe;
    border: 2px solid #bf611e;
}

.dark #submitBtn {
    background-color: #bf611e;
    color: white;
}

@media(max-width: 800px) {
    header {
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #changeBtn {
     position: relative;
     margin-left: 35px;
    }
    .contentContainer {
        margin-top: 10px;
    }
    .questionContainer {
        width: 80%;
    }
}